@charset "UTF-8";


:root {
    --cor-principal: #6CB40C;
    --cor-secundaria: ;
    --cor-apoio: ;
    --cor-base: ;
    --cor-padrao: ;

    --font-destaque: Arial, Helvetica, sans-serif;
    --font-corpo: ;
}

@media all {
    *{
        box-sizing: border-box;
        
    }
}

/* versao mobile 360px a 813px */

@media screen and (min-width: 360px) and (max-width: 812px) {
    body{
        background-image: url("../assets/dose-juice-sTPy-oeA3h0-unsplash.jpg");
        background-size:  cover;
    }
    
    h2{
        color: var(--cor-principal);
        font-family: var(--font-destaque);
        text-align: center;
        font-size: 16px;
        padding: 15px; 
    }

    main{
        text-align: center;
        padding: 10px;
        margin: auto;
        background-color: var(--cor-base);
        width: 80vw;
        height: 90vh;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .logo {
        width: 250px;
        height:260px;
    }

    .flex-container {
        display: block;
        position: relative;
    }

    .valores {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 80px;
        background-color: #F1F1E9 ;
        border-radius: 10px;
        border: 2px solid #6CB40C;
        margin-top: 10px;
    }

    .agendamentos {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 80px;
        background-color: #F1F1E9;
        border-radius: 10px;
        border: 2px solid #6CB40C;
        margin-top: 10px;
    }

    a {
        text-decoration: none;
        text-align: center;
    }
   
}

/* versao desktop 812 px a 1080px */

@media screen and (min-width: 812px) and (max-width: 1950px) {
    body{
        background-image: url("../assets/dose-juice-sTPy-oeA3h0-unsplash.jpg");
        background-size: cover;
    }

    main{
        position: relative;
        text-align: center;
        padding: 10px;
        margin: auto;
        background-color: var(--cor-base);
        width: 80vw;
        height: 90vh;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h2{
        color: var(--cor-secundaria);
        font-family: var(--font-destaque);
        text-align: center;
        font-size: 18px;
        
        
    }

    .logo {
        width: 370px;
        height:360px;
        
    }

    .flex-container {
        display: flex;
        justify-content: space-evenly;
        
    }

    .tratamentos {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 25vw;
        height: 23vh;
        background: linear-gradient(#F8F8F8, #F8F8F8) padding-box,
        linear-gradient(to right, #d6bd89, #bfa370, #d6bd89, #bfa370) border-box;
        border-radius: 10px;
        border: 2px solid transparent;
        
    }

    .valores {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 25vw;
        height: 23vh;
        background: linear-gradient(#F8F8F8, #F8F8F8) padding-box,
        linear-gradient(to right, #d6bd89, #bfa370, #d6bd89, #bfa370) border-box;
        border-radius: 10px;
        border: 2px solid transparent;
        
    }

    .marcacoes {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 25vw;
        height: 23vh;
        background: linear-gradient(#F8F8F8, #F8F8F8) padding-box,
        linear-gradient(to right, #d6bd89, #bfa370, #d6bd89, #bfa370) border-box;
        border-radius: 10px;
        border: 2px solid transparent;
        
    }

    a {
        text-decoration: none;
        text-align: center;
        
    }

}
    
