@charset "UTF-9";
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

:root {
    /*CORES */
    --cor-text: #FAFAFA;
    --cor-contaste: #1B2CE8;
    --cor-destaque: #E7FC3E;
    --background: #202224;

    /*TIPOGRAFIA*/
    --font-corpo: Arial, Helvetica, sans-serif;
    --font-destaque: 'Iceberg', sans-serif;;
   
}

@media all {
    * {
        padding: 0px;
        margin: 0px;
    }
    body{
        background-color: var(--background);
    }

   p, ul {
    color: var(--cor-text);
    font-family: var(--font-corpo);
   }
   h1{
    font-family: var(--font-destaque);
    font-size: 32px;
   }
   h3{
    font-family: var(--font-destaque);
   }
}

/* versao mobile 360px a 813px */
@media screen and (min-width: 360px) and (max-width: 812px){
    header{
        width: 100vw;
        height: 15vh;
    }

    img.logo{
        width: 120px;
        height: 100px;
    }

    header > h1 {
        color: var(--cor-destaque);
    }

    header > h3 {
        color: var(--cor-destaque);
    }

    .Cta > h1{
        text-align: center;
        color: var(--cor-destaque);
        font-size: 36px;
        padding: 5%;
        margin: auto;
    }
    .Cta > input{
        display: block;
        background-color: var(--cor-destaque);
        color: var(--background);
        align-items: center;
        width: 25vw;
        height: 4vh;
        border: none;
        border-radius: 5px;
        margin: auto;
        margin-bottom: 20px;
        
    }
    .blue{
        background-color: var(--cor-contaste);
        height: 250px;
    }

    .blue > h1 {
        color: var(--cor-destaque);
        padding: 20px;
        margin: auto;
        text-align: center;
        font-size: 32px;
    }
    .blue > p {
        text-align: center;
        font-size: 18px;
        padding: 10px;
    }
    .OSegredo > h1 {
        color: var(--cor-destaque);
        padding: 20px;
        margin: auto;
        text-align: center;
        font-size: 32px;
    }
    .OSegredo > p {
        color: var(--cor-text);
        text-align: center;
        font-size: 18px;
        padding: 5px 20px 20px 20px;
    }
    ul{
        color: var(--cor-text);
        text-align: center;
        padding: 5px 20px 20px 20px;
    }
    .Avaliacoes {
        background-color: var(--cor-destaque);
        position: relative;
        width: 100vw;
        height: 70vh;
    }
    .Avaliacoes > h1 {
        color: var(--cor-contaste);
        padding: 20px;
        margin: auto;
        text-align: center;
        font-size: 32px;
    }
    img {
        position: absolute;
    }
    
    img.first{
        top: 100px;
        left: -40%;
        
    }
    img.second{
        top: 60px;
        left: -10%;
       
    }
    img.third{
        top: 100px;
        left: 20%;
       
    }
    .Acompanhamento > h1 {
        color: var(--cor-destaque);
        padding: 20px;
        margin: auto;
        text-align: center;
        font-size: 32px;
    }
    .Acompanhamento > p {
        color: var(--cor-text);
        text-align: center;
        font-size: 18px;
        padding: 5px 20px 20px 20px;
    }
    .Acompanhamento > h3 {
        color: var(--cor-contaste);
        padding-left: 20px;
        margin: auto;
    }
    
}

/* versao desktop 813px a 1200px */





